@{
    Layout = "Shared/_HeroLayout.cshtml";
}
@using YorkshireDigital.Web.Infrastructure.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Account.ViewModels.AccountRegisterViewModel>
@section Hero {
    <section class="hero">
        <div class="layout-constrained">
            <h1 class="hero__title">Join Yorkshire's Digital Community</h1>
            <p class="hero__intro">
                Lorem Ipsum
            </p>
        </div>
    </section>
}


<div class="island island--horizontal-break">
<div class="panel-one">
    <form method="POST" data-parsley-validate>
        <h2>Register</h2>
        <p>Already have an account? <a href="account\sign-in">Sign in</a></p>

        <div class="form-group">
            <label>Username</label>
            <input type="text" placeholder="Username" name="username" class="input-full field" value="@Model.Username" required>
            @Html.ValidationMessageFor("Username")
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" id="password" class="input-full field" value="@Model.Password" required data-parsley-minlength="6">
            @Html.ValidationMessageFor("Password")
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="input-full field" value="@Model.ConfirmPassword" required data-parsley-equalto="#password">
            @Html.ValidationMessageFor("ConfirmPassword")
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="input-full field" placeholder="Joe Bloggs" value="@Model.Name" required>
            @Html.ValidationMessageFor("Name")
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="joe.bloggs@sharklasers.com" name="email" value="@Model.Email" required>
            @Html.ValidationMessageFor("Email")
        </div>

        <div class="form-group">
            <input type="checkbox" name="MailingList" class="field" id="MailingList" checked="@Model.MailingList">
            <label for="MailingList">Join Mailing list?</label>
        </div>

        @Html.ValidationSummary()

        <input type="submit" class="btn btn--primary btn--full" value="Register" />
    </form>
</div>
<div class="panel-two">
    <h3>Or register with one of these providers</h3>
    <input type="submit" class="btn btn--full" value="Twitter" style="background-color: #55acee;" />
    <input type="submit" class="btn btn--full" value="Facebook" style="background-color: #3b5998;" />
    <input type="submit" class="btn btn--full" value="LinkedIn" style="background-color: #0976b4;" />
    <input type="submit" class="btn btn--full" value="Meetup" style="background-color: #e0393e;">
    <input type="submit" class="btn btn--full" value="StackOverflow" style="background-color: #fe7a15;" />
    <input type="submit" class="btn btn--full" value="Github" style="background-color: #333333;" />
</div>
</div>