@{
    Layout = "Shared/_LayoutNarrow.cshtml";
}
@using YorkshireDigital.Web.Infrastructure.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Account.ViewModels.AccountSignInViewModel>

<section>
    <div class="layout-constrained layout-constrained--narrow layout-stacked">
        <h2>Sign in&#8230;</h2>
        <a href="~/authentication/redirect/twitter" title="Twitter" class="btn btn--full btn--twitter">Sign in with Twitter <span class="icn icn-twitter"></span> </a>
        @*<a href="~/authentication/redirect/facebook" title="Facebook" class="btn btn--full btn--facebook">Facebook</a>
        <a href="~/authentication/redirect/linkedin" title="LinkedIn" class="btn btn--full btn--linkedin">LinkedIn</a>
        <a href="~/authentication/redirect/meetup" title="Meetup" class="btn btn--full btn--meetup">Meetup</a>*@

        <div class="divide">
            <span class="divide__label">Or</span>
        </div>

        <button class="btn btn--primary btn--full push--double-bottom js-email-sign-in-btn" type="button">Sign in with email</button>

        <div class="is-hidden js-email-sign-in-panel">
            <form method="POST" data-parsley-validate>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="is-offscreen" for="username">Username or Email</label>
                    <input type="text" placeholder="Username or Email" name="username" class="input-full" value="@Model.Username" required>
                    @Html.ValidationMessageFor("Username")
                </div>

                <div class="form-group">
                    <label class="is-offscreen" for="password">Password</label>
                    <input type="password" name="password" class="input-full" value="@Model.Password" required>
                    @Html.ValidationMessageFor("Password")
                </div>

                <div class="form-group">
                    <label class="island-input flush--bottom" for="remeberMe">
                        <input type="checkbox" name="RememberMe" id="remeberMe" checked="@Model.RememberMe">
                        Remember me
                    </label>
                </div>

                <div class="form-actions text--center push--bottom">
                    <input type="submit" class="btn btn--primary btn--full push--bottom" value="Sign In" />
                    <a href="/account/forgotten-password">Forgotten your password?</a>
                </div>
            </form>
        </div>

    </div>

    <div class="island island--medium island--full-bleed text--center">
        Don't have an account? <a href="/account/sign-up">Sign up</a>
    </div>

    <footer class="footer-site layout-constrained" role="contentinfo">
        <small class="footer-site__item">© 2015 YorkshireDigital</small>
        <small class="footer-site__item">Hosted by <a href="https://www.brightbox.com">Brighbox</a> in Yorkshire</small>
    </footer>
</section>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.js-email-sign-in-btn', function () {
                $('.js-email-sign-in-panel').toggleClass('is-hidden');
                $(this).toggleClass('is-hidden');
            });
        });
    </script>
}