@{
    Layout = "Shared/_LayoutNarrow.cshtml";
}
@using YorkshireDigital.Web.Infrastructure.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Account.ViewModels.AccountSignInViewModel>

<section>
    <div class="layout-constrained layout-constrained--narrow layout-stacked">
        <h2>Sign in&#8230;</h2>
        <button class="btn btn--twitter btn--full" type="button">Sign in with Twitter <span class="icn icn-twitter"></span> </button>

        <div class="divide">
            <span class="divide__label">Or</span>
        </div>

        <button class="btn btn--primary btn--full push--double-bottom js-email-sign-in-btn" type="button">Sign in with email</button>

        <div class="is-hidden js-email-sign-in-panel">
            <div class="form-group">
                <label class="is-offscreen" for="firstName">Username</label>
                <input type="text" id="userName" class="input-full" placeholder="Username" />
            </div>

            <div class="form-group">
                <label class="is-offscreen" for="emailAddress">Password</label>
                <input type="password" id="password" class="input-full" placeholder="Password" />
            </div>

            <div class="form-group">
                <label class="island-input flush--bottom" for="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me" value="">
                    Remember me
                </label>
            </div>

            <div class="form-actions text--center push--bottom">
                <button class="btn btn--primary btn--full push--bottom" type="button">Sign In</button>
                <a href="/account/forgotten-password">Forgotten your password?</a>
            </div>
        </div>

    </div>

    <div class="island island--medium island--full-bleed text--center">
        Don't have an account? <a href="/account/sign-up">Sign up</a>
    </div>

    <footer class="footer-site layout-constrained" role="contentinfo">
        <small class="footer-site__item">© 2015 YorkshireDigital</small>
        <small class="footer-site__item">Hosted by <a href="https://www.brightbox.com">Brighbox</a> in Yorkshire</small>
    </footer>
</section>

@*<div class="island island--horizontal-break">
    <div class="panel-one">
        <form method="POST" data-parsley-validate>
            @Html.AntiForgeryToken()

            <h2>Don't have an account? <a href="account/register">Register</a></h2>

            <h3>Log In</h3>

            <div class="form-group">
                <label>Username or Email</label>
                <input type="text" placeholder="Username" name="username" class="input-full field" value="@Model.Username" required>
                @Html.ValidationMessageFor("Username")
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="input-full field" value="@Model.Password" required>
                @Html.ValidationMessageFor("Password")
            </div>

            <div class="form-group">
                <input type="checkbox" name="RememberMe" class="field" id="RemeberMe" checked="@Model.RememberMe">
                <label for="RemeberMe">Remember Me?</label>
            </div>

            @Html.ValidationSummary()

            <input type="submit" class="btn btn--primary btn--full" value="Login" />
        </form>
    </div>
    <div class="panel-two">
        <h3>Or log in with one of these providers</h3>
        <a href="~/authentication/redirect/twitter" title="Twitter" class="btn btn--full twitter">Twitter</a>
        <a href="~/authentication/redirect/facebook" title="Facebook" class="btn btn--full facebook">Facebook</a>
        <a href="~/authentication/redirect/linkedin" title="LinkedIn" class="btn btn--full linkedin">LinkedIn</a>
        <a href="~/authentication/redirect/meetup" title="Meetup" class="btn btn--full meetup">Meetup</a>
    </div>
</div>*@