@using System
@using YorkshireDigital.Web.Infrastructure.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminEventViewModel>
@Html.AntiForgeryToken()

<div class="form-group">
    <label>Event Title</label>
    <input type="text" placeholder="e.g. @DateTime.Now.ToString("MMMM") Meetup" name="title" class="input-full field" value="@Model.Title" required />
    @Html.ValidationMessageFor("Title")
</div>

<div class="form-group">
    <label>Event Url</label>
    <input type="text" placeholder="e.g. bradford-clojure-@DateTime.Now.ToString("MMM").ToLower()-@DateTime.Now.ToString("yyyy")" name="uniqueName" class="input-full field" value="@Model.UniqueName" required pattern="^[a-zA-Z0-9-]+$" />
    @Html.ValidationMessageFor("UniqueName")
</div>

<div class="form-group markdown-editor" id="synopsis-edit">
    <label>Synopsis (markdown)</label>
    <textarea placeholder="Tell us about the event" name="synopsis" class="input-full field js-synopsis" required >@Model.Synopsis</textarea>
    @Html.ValidationMessageFor("Synopsis")
</div>

<div class="form-group">
    <label>Start</label>
    <input type="text" placeholder="e.g. yyyy-mm-dd hh:mm" name="start" class="input-full field" value="@Model.Start.ToString("yyyy-MM-dd hh:mm")" required pattern="^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$" />
    @Html.ValidationMessageFor("Start")
</div>

<div class="form-group">
    <label>End</label>
    <input type="text" placeholder="e.g. yyyy-mm-dd hh:mm" name="end" class="input-full field" value="@Model.End.ToString("yyyy-MM-dd hh:mm")" required />
    @Html.ValidationMessageFor("End")
</div>

<div class="form-group">
    <label>Where is it?</label>
    <input type="text" placeholder="e.g. Joe's Bar, Main Street, York" name="location" class="input-full field" value="@Model.Location" required />
    @Html.ValidationMessageFor("Location")
</div>

<div class="form-group">
    <label>Region</label>
    <input type="text" placeholder="e.g. York" name="region" class="input-full field" value="@Model.Region" required />
    @Html.ValidationMessageFor("Region")
</div>

<div class="form-group">
    <label>Ticket Price</label>
    <input type="text" placeholder="e.g. 10.50" name="price" class="input-full field" value="@Model.Price" required pattern="^\d+(\.\d+)?$" />
    @Html.ValidationMessageFor("Price")
</div>

<div class="form-group">
    <label>Interests</label>
    <select name="interests" multiple class="input-full field no-expand chosen-select">
        @foreach (var item in Model.AvailableInterests)
        {
            <option value="@item.Id" @(item.Selected ? "selected" : string.Empty)>@item.Name</option>
        }
    </select>
    @Html.ValidationMessageFor("AvailableInterests")
</div>

<div class="form-group">
    <label>Group Id</label>
    <input type="text" placeholder="e.g. bradford-clojure" name="groupId" class="input-full field" value="@Model.GroupId" required />
    @Html.ValidationMessageFor("GroupId")
</div>