@using YorkshireDigital.Web.Infrastructure.Helpers
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireDigital.Web.Admin.ViewModels.AdminGroupViewModel>
@Html.AntiForgeryToken()

<div class="form-group">
    <label>Name</label>
    <input type="text" placeholder="e.g. Bradford Clojure Meetup" name="name" class="input-full field" value="@Model.Name" required />
    @Html.ValidationMessageFor("Name")
</div>

<div class="form-group">
    <label>Slug</label>
    <input type="text" placeholder="e.g. bradford-clojure" name="id" class="input-full field" value="@Model.Id" required pattern="^[a-zA-Z0-9-]+$" />
    @Html.ValidationMessageFor("Id")
</div>

<div class="form-group">
    <label>Short Name</label>
    <input type="text" placeholder="e.g. BCM" name="shortName" class="input-full field" value="@Model.ShortName" required maxlength="3" />
    @Html.ValidationMessageFor("ShortName")
</div>

<div class="form-group">
    <label>About</label>
    <textarea placeholder="Tell us about the group" name="about" class="input-full field" rows="4" required>@Model.About</textarea>
    @Html.ValidationMessageFor("About")
</div>

<div class="form-group">
    <label>Headline</label>
    <input type="text" placeholder="e.g. Monthly meetup for Clojure enthusiast in Bradford." name="headline" class="input-full field" value="@Model.Headline" required />
    @Html.ValidationMessageFor("Headline")
</div>

<div class="form-group">
    <label>Brand Colour</label>
    <input type="text" placeholder="e.g. #b9306a or red" name="colour" class="input-full field" value="@Model.Colour" required pattern="^(#[a-fA-F0-9]{3,6}|[a-zA-z]+|rgb\([\d,]+\))$" />
    @Html.ValidationMessageFor("Colour")
</div>

<div class="form-group">
    <label>Website</label>
    <input type="text" placeholder="e.g. www.bradforclojure.com" name="website" class="input-full field" value="@Model.Website" required />
    @Html.ValidationMessageFor("Website")
</div>