@{
    Layout = null;
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<YorkshireTec.Infrastructure.BaseViewModel>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Page.Title | @Model.Page.TitleSuffix</title>
    @using Cassette.Nancy

    @{
        //Bundles.Reference("Content");
        //Bundles.Reference("Scripts");
    }

    @*@Bundles.RenderStylesheets()*@
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    @*@Bundles.RenderScripts()*@
    <script type="text/javascript">
        $(function () {
            if ($('.ui.error').length > 0) {
                $(window).scrollTop($('.ui.error').prev().position().top);
            }
        });
    </script>
    @if (!string.IsNullOrEmpty(Model.Page.Title))
    {
        <script type="text/javascript">
            $(function () {
                $('#menu .item:contains(@Model.Page.Title)').addClass('current');
            });
        </script>
    }

    @RenderSection("Scripts", false)
</body>
</html>